In [6]:
from selenium import webdriver
from bs4 import BeautifulSoup


import datetime
import pandas as pd
import numpy as np
import time
import glob
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')


from urllib.request import urlopen
import math
import random

In [7]:
tmp = ""
def getDate(h):
    global tmp
    try :
        tmp = h.parent.find_previous_sibling('td').get_text()
        return tmp
    except:
        return ""


def weekday_(w):
    prpr = {      
        '월': '0',
        '화': '1',
        '수': '2',
        '목': '3',
        '금': '4',
        '토': '5',
        '일': '6',
    }
    for key, value in prpr.items():
        w = w.replace(key, value)
    return w    
    
    
    
    
def month_(m):
    prpr = {     
        '4': '04',
        '5': '05',
        '6': '06',
        '7': '07',
        '8': '08',
        '9': '09',
    }
    for key, value in prpr.items():
        m = m.replace(key, value)
    return m    
    
    
    
def LOCATION_(s):
    prpr = {      
        '잠실': '서울',
        '사직': '부산',
        '고척': '서울',
        '문학': '인천',
        '마산': '창원',
    }
    for key, value in prpr.items():
        s = s.replace(key, value)
    return s    



def team(s):
    prpr = {      
        'kt': 'KT',
        '넥센': '키움',
    }
    for key, value in prpr.items():
        s = s.replace(key, value)
    return s

In [8]:
sportsInfo = pd.DataFrame(columns=('YEAR','MONTH', 'DAY',  'HOUR', 'TEAM1','TEAM2', 'SCORE','STADIUM'))

baseUrl = "https://sports.news.naver.com/kbaseball/schedule/index.nhn?month="

    
for m in range (4, 10):
    MonthUrl = baseUrl + str(m)
    for y in range (2017, 2020):
        Url = MonthUrl + '&year=' + str(y) + '&teamCode=' 
        page = urlopen(Url)
        soup = BeautifulSoup(page,"html.parser")

        date =soup.find_all("span",class_='td_date')

        hour =soup.find_all('span', class_="td_hour")
        team_lft =soup.find_all('span', class_="team_lft")   
        score =soup.find_all('strong', class_="td_score")
        team_rgt =soup.find_all('span', class_="team_rgt")

        tempStadium =soup.find_all('span', class_="td_stadium")

        stadium = list()

        for idx, val in enumerate(tempStadium):
            if idx%2 ==1 :
                stadium.append(val)


        for h in hour:
            _hour = h.get_text()

            if '-' in _hour:
                pass
            else:

                _date = getDate(h)   
                if tmp != None:
                    _info = h.parent.find_next_sibling('td').get_text()
                    _stadium = h.parent.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.find_next_sibling('td').get_text()

                    temp = _info.split('\n\n')
                    _team1 = temp[0]
                    _team1 = _team1.replace(' ','')
                    _team1 = _team1.replace('\n','')
                    
                    _team2 = temp[2].replace(' ','')
                    _team2 =_team2.replace('\n','')
                   
                                                           
                    _score = temp[1]
                    
                    temp2 = tmp.split('\n')
                    _date = temp2[1]                  
                    _month = month_(_date.split('.')[0])
                    _day =  _date.split('.')[1].split(' ')[0]
                    _hour = _hour.split(':')[0]
                    _weekday = weekday_(_date.split('(')[1].replace(')',''))
                        

                    _stadium = _stadium.replace('\n','')
                    _stadium = _stadium.replace(' ','')
                    _location = _stadium


                    sportsInfo  = pd.DataFrame(np.array([[y, _month, _day, _hour, _team1, _team2, _score, _stadium]]),
                                                           columns=['YEAR','MONTH', 'DAY', 'HOUR', 'TEAM1','TEAM2', 'SCORE','STADIUM']).append(sportsInfo , ignore_index=True)
                    
                else:
                    pass


    time.sleep(random.randrange(2, 5))

In [9]:
sportsInfo

      YEAR MONTH DAY HOUR TEAM1 TEAM2 SCORE STADIUM
0     2019    09  30   18    SK    한화   6:2      대전
1     2019    09  30   18    롯데    LG   0:2      잠실
2     2019    09  29   14    키움    롯데   4:1      사직
3     2019    09  29   14    삼성    KT   0:7      수원
4     2019    09  29   14    SK    한화   2:0      대전
...    ...   ...  ..  ...   ...   ...   ...     ...
2172  2017    04   1   17    롯데    NC   3:0      마산
2173  2017    04   1   17    kt    SK   2:0      문학
2174  2017    04   1   14    LG    넥센   8:3      고척
2175  2017    04   1   14   KIA    삼성   9:7      대구
2176  2017    04   1   14    한화    두산   6:5      잠실

[2177 rows x 8 columns]